@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');


* ,body,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    height: 2000px;
    
}

:root {
    --firstColor:#141517;
    --secondColor:#ff2020;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container {
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.btn button { 
    z-index: 1;
    position: relative;
    background: #ff2020;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .03em;
    padding: 24px 28px;
    border: 0;
    cursor: pointer;
    letter-spacing: 1.2px;
    overflow: hidden;
    
}
.btn button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -277px;
    background-color: #4a4a4b;
    z-index: -1;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.btn button:hover::before {
    left:0;
}
/* ********************************* Start Nav Bar ****************************************** */
nav {

    background: #FFF;
    padding: 11px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22222;
    
}

nav .brand {
    width: 16%;
}
nav .list {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list .item a{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--firstColor);
    font-weight: 700;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
nav .list .item .dropdown{
    background-color: #FFF;
    position: absolute;
    width: 175px;
    padding: 17px;
    top: 82px;
    line-height: 37px;
    border-top: 3px solid var(--secondColor);
    border-radius: 7px 7px 3px 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

nav .list .item:hover .dropdown {
    visibility: visible;
    opacity: 1;
    top: 103px;
}

nav .list .item .dropdown::before{
    content: "";
    position: absolute;
    top: -21px;
    border-style: solid;
    border-width: 9px;
    border-color: transparent transparent var(--secondColor) transparent;
    
}
/* nav .list .item:nth-child(4){
    position: relative;
} */
nav .list .item{
    position: relative;
    padding: 36px 14px;
    position: relative;
    
} 
nav label  ,input {
    cursor: pointer;
    display: none;
}

nav .list .item:nth-child(4)::after{
    position: absolute;
    content: "HOT";
    background: var(--secondColor);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top: 14px;
    /*right: -13px;
    */transition: all .2s ease-out 0s;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 5px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

nav .list li a:hover ,nav .social a:hover{
    color: var(--secondColor);
    
}
nav .social a {
    color: var(--firstColor);
    font-size: 20px;
    margin-left: 20px;
}

nav  label {
    font-size: 28px;
    cursor: pointer;
    order: 2;
}

/* ########### media ################ */
@media (max-width:1199px) {
    nav .list {
        width: 60%;
    }
}
@media (max-width:991px) {
    nav .list {
        display: unset;
        background: #CCC;
        position: fixed;
        top: 40px;
        width: 91%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
}
    nav .list .item {
        padding: 13px 21px;
        width: 14%;
}
    nav .list .item .dropdown {
    background-color:unset;
    position: unset;
    width: 175px;
    padding: 0px 21px;
    top: 82px;
    line-height: 37px;
    border-top: none;
    border-radius: 7px 7px 3px 3px;
    display: none;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
    nav .list .item:nth-child(4)::after{
        display: none;
    }
    nav .list .item .dropdown::before{
        display: none;
    }
    nav .list .item:hover .dropdown {
        opacity: 1;
        display: block;
    }
    nav #inp:checked ~ .list{
        top: 53px;
        opacity: 1;
        visibility: visible;
    }
    nav label {
        display: block;
    }
    

nav .social {
    text-align: left;
    width: 40%;
}


}
@media (max-width:575px) {
    nav {
        padding: 10px 2px;
    }
    nav .social a {
        margin-left: 20px;
        font-size: 15px;
}
nav .social {
    text-align: center;
    width: 40%;
}
nav .brand {
    width: 20%;
}
nav .brand img {
    width: 100%;
}
}
/* ****************************  End Nav Bar  ************************* */

/* ****************************  Start Header  ************************* */
header{
    background-color: #f0f0f2;
    overflow: hidden;
}

header .content {
    align-self: center;
    position: relative;
    animation-name: content-left;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes content-left {
    from{left: -100%;}
    to{left: 0;}
}

header .content h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
    color: #0b1c39;
}

header .content p {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    padding-right: 114px;
    margin-bottom: 60px;
}

header .content .btn{
    background-color: #4a4a4b;
    padding: 16px 40px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 17px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
} 
header .img-header img {
    object-fit: cover;
    animation-name: image-ani;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes image-ani {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}    
    60%{
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
}
}

.btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondColor);
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.btn:hover::before{
    left: 0;
}
/* ********************media******************** */
@media  (max-width:1119px){
    header .img-header img {
        height: 500px;
    }
    header .content {
        margin-top: 10px;
        width: 66%;
        padding: 0 15px;
        
    }
    header .content h1{
        font-size: 60px;
        line-height: 1.2;
    }

    header .content p{
        padding-right: 0;
    margin-bottom: 30px;
    }
    header .img-header{
        margin-left: 40px;
    }
}

@media  (max-width:991px) {
    header .img-header img {
        height: 500px;
    }
    header .content {
        margin-top: 10px;
        width: 66%;
        padding: 0 15px;
        
    }
    header .content h1{
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 26px;
    }

    header .content p{
        padding-right: 0;
    margin-bottom: 30px;
    }
    header .img-header{
        margin-left: 40px;
    }
}
/* ************************************************************************* */
@media (max-width:767px) {
    header .img-header{
        margin-left: 40px;
    }
    header .img-header img {
        height: 400px;
    }
    header .content {
        margin-top: 10px;
        width: 66%;
        padding: 0 15px;
        
    }
    header .content h1{
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 26px;
    }

    header .content p{
        padding-right: 0;
    margin-bottom: 30px;
    }
}
/* **********************************/
@media (max-width:575px) {
    header {
        padding: 56px 15px;
    }
    header .img-header{
        display: none;
    }

    header .container{
        width: 100%;
    }
    header .content h1 {
        font-size: 33px;
    line-height: 1.2;
    margin-bottom: 26px;
    }
}
/* ****************************  End Header  ************************* */

.products{
    padding: 100px 0;
}
.products .container h3{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 60px;
}
.products .product{
    width: 32%;
}
.products .row{
    justify-content: space-between;
    flex-wrap: wrap;
} 
.products .product .product-img {
    overflow: hidden;
    
}
.products .product .product-img img {
    width: 100%;
    object-fit: cover;
    /* margin-bottom: 30px; */
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.products .product:hover .product-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.products .product .product-cont {
    margin-top: 30px;
    text-align: center;
}
.products .product .product-cont h4 a{
    color: #444;
    font-weight: 700;
    font-size: 24px;
}
.products .product .product-cont p{
    color: #ff2020;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

/* media */
@media (max-width:991px) {
    .products .product{
        width: 49%;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .products{
        padding: 50px 0;
    }
    .products .container{
        width: 70%;
    }
    .products .product{
        width: 47%;
        margin-bottom: 30px;
    }
}
@media (max-width:575px) {
    .products{
        padding: 50px 0;
    }
    .products .container{
        width: 96%;
    }
    .products .product{
        width: 100%;
        margin-bottom: 50px;
    }
    .products  .container h3{
        font-size: 33px;
    }
} 
/* End */
.arriv2{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,330px);
    gap: 20px;

}
.arriv2 .item{
    position: relative;
    overflow: hidden;
}
.arriv2 .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
}
.arriv2 .item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    /* filter: grayscale(90%);
    -webkit-filter: grayscale(90%); */
}
.arriv2 .item:hover::before{
    opacity: 1;
    visibility: visible;
}
.arriv2 .item::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(1,10,28,.3);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all .4s ease-out 0s;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    
}
.arriv2 .item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}
.arriv2 .item:nth-child(2){
    grid-row: 1/3;
}

/* media */
@media (max-width:991px) {
    .arriv2{
        grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    }
    .arriv2 .item:nth-child(1){
        grid-column: unset;
        grid-row: 1/3;
    }
    .arriv2 .item:nth-child(2){
        grid-row: 1/3;
    }
    
}
@media (max-width:767px) {
    .arriv2{
        grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    }
    .arriv2 .item:nth-child(1){
        grid-column: unset;
        grid-row: 1/3;
    }
    .arriv2 .item:nth-child(2){
        grid-row: 1/3;
    }
    
}
@media (max-width:575px) {
    .arriv2{
        display: unset;
    }
    .arriv2 .item{
        margin-bottom: 20px;
    }
}
/* **************** Start popular ************************* */
.popular {
    padding: 100px 0;

}
.popular .title {
    text-align: center;
    width: 59%;
    margin: auto;
    margin-bottom: 70px;
}

.popular .title h2{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}
.popular .title p{
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.popular .container .parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;
}
.popular .container .parent .box .box-title{
    text-align: center;
}
.popular .container .parent .box .box-title h3 a{
    color: #444;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
}
.popular .container .parent .box .box-title p{
    color: #444;
    font-size: 18px;
    font-weight: 500;
    margin-top: 17px;
}
.popular .container .parent .box .box-img {
    margin-bottom: 15px;
    border-bottom: 3px solid var(--secondColor);
    position:relative;
    overflow: hidden;
}
.popular .container .parent .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular .container .parent .box .box-img::before{
    content: "add to cart";
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 67px;
    bottom: -81px;
    left: 0;
    background-color: var(--secondColor);
    color: #FFF;
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
}
.popular .container .parent .box:hover .box-img::before{
    bottom: 0;
}
.popular .container .parent .box:hover a{
    visibility: visible;
    opacity: 1;
}

.popular .container .parent .btn {
    grid-column: 2/3;
    text-align: center;
    margin-top: 50px;
    
}



.popular .container .box-img a {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 35px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
/* media */
@media (max-width:991px) {
    .popular{
        padding: 50px 0;
    }
    .popular .container {
        width: 70%;
    }
    .popular .title {
        width: 98%;
    }
    .popular .container .parent{
        grid-template-columns: repeat(2,1fr);
    }
    .popular .container .parent .box .box-title h3 a {
        font-size: 21px;
}
.popular .container .parent .btn {
    grid-column: 1/3; }
/* ***********************************************88 */
@media  (max-width:575px) {
    .popular .container {
        width: 100%;
    }
    .popular .title {
        width: 100%;
        margin: auto;
        margin-bottom: 70px;
    }
    .popular .title h2{
        font-size: 32px;
    }
    .popular .title p{
        font-size: 16px;
        line-height: 1.6;
    }
    .popular .container .parent{
        display: unset;
    }
}
}
/* end popular */

/* ############# vedio ##################*/

.vedio {
    width: 100%;
    height: 700px;
    background-position: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vedio::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.vedio:hover::before {
    background-color: rgba(0,0,0,0.4);
}
.vedio:hover .play-icon {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.vedio .play-icon {
    align-self: center;
    font-size: 35px;
    padding: 33px;
    border-radius: 50%;
    border: 1px solid #FFF;
    color: #FFF;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.vedio .play-icon:hover {
    background: #fff;
    color:var(--secondColor);
}
.vedio .next {
    background-color: var(--secondColor);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.vedio .next p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
.vedio .next a {
    color: #FFF;
    font-size: 20px;
    
}
/* media */
@media (max-width:991px) {
    .vedio .next {
        width: 50%;
        padding: 20px 0;
    }
}
@media (max-width:575px) {
    .vedio .next {
        width: 65%;
        padding: 20px 0;
    }
}
/* end */
/* start choice */
.choice {
    padding: 200px 0 100px;
}

.choice .title ,.choice-2 .title{
    padding: 88px 64px;
    margin-right: 23px;
}
.choice .title h2,.choice-2 .title h2 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
}
.choice .title p ,.choice-2 .title p{
    color: #777;
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 1.6;
}
.choice-2 .title {
    margin-right: 0;
    margin-left: 23px;
}
@media (max-width:767px) {
    .choice .container , .choice-2 .container {
        width: 80%;
    }
    .choice .row ,.choice-2 .row {
        display: unset;
    }
    .choice .pro img,.choice-2 .pro img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .choice .title, .choice-2 .title {
        padding: 30px 20px;
        margin-right: 0;
    }
    .choice {
        padding: 50px 0 50px;
    }
    .choice .title h2,.choice-2 .title h2 {
        font-size: 30px;
    }
}
@media (max-width:575px) {
    .choice .container ,.choice-2 .container{
        width: 100%;
        
    }
    .choice .row ,.choice-2 .row {
        display: unset;
    }
    .choice .pro img,.choice-2 .pro img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .choice .title, .choice-2 .title {
        padding: 30px 20px;
        margin-right: 0;
    }
    .choice {
        padding: 50px 0 50px;
    }
    .choice .title h2,.choice-2 .title h2 {
        font-size: 30px;
    }
}
/* loading */
.loading {
    
    position: relative;
    margin:100px auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: col 2s ease infinite;
    -webkit-animation: col 2s ease infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.loading::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #cccccc4a; */
    border: 3px solid #795548;
    border-left-color: transparent;
    animation: spin 2s linear infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    
}
}

@keyframes col {
    0%{
        color: black;
    }
    50%{
        color: red;
    }
}

/* &&&&&&&&&&&&&& flib &&&&&&&&&&&&&&7 */
.flib{
    padding: 100px 0;
}
.flib .container {
    
}
.flib .container .row .box {
    width: 31%;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}
.flib .container .row .box .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flib .container .row{
    flex-wrap: wrap;
    justify-content: space-between;
    /* perspective: 600px; */
}
.flib .container .row .box:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.flib .front,.flib .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FFF;
    text-transform: capitalize;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flib .front {
    background-color: var(--firstColor);
}
.flib .back {
    background-color: var(--secondColor);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.flib .box .back span {
    font-size: 40px;
    color: burlywood;
}
.loading .ball {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /*top: 100px;
    */animation: ball 2s linear infinite;
    -webkit-animation:ball 2s linear infinite;
}
.loading .ball::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 73px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: #795548;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
@keyframes ball {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
.hr {
    padding: 50px 0;
}
.load-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.load-2 div {
    width: 20px;
    height: 20px;
    background-color:sienna;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: up-and-down 0.9s infinite alternate;
    -webkit-animation: up-and-down 0.9s infinite alternate;
}
.load-2 .two{
    animation-delay: 0.3s;
}
.load-2 .three {
    animation-delay: 0.6s;
}
@keyframes up-and-down {
    to {
        opacity: 0.2;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
}
}